.testimonials {
  display: flex;
  margin: 0;
  height: 649px;
}

@media (max-width: 1024px) {
  .testimonials {
    margin: 0;
    height: 488px;
  }
}
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
    margin: 0;
    height: 720px;
  }
}
