.projects__link {
  text-decoration: none;
  font-family: "Source Sans Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 169%;
  letter-spacing: 4px;
  color: #eb5296;
  pointer-events: none;
}

.projects__link:visited {
  color: #eb5296;
}
