.how__item {
    display: flex;
    justify-content: space-between;
    margin: 0 67px;
    padding: 95px 0;
    min-height: 90px;
    gap: 40px;
}

@media (max-width:1024px) {
    .how__item {
        margin: 0 56px;
    }
}
@media (max-width:768px) {
    .how__item {
        flex-direction: column;
        margin: 0 21px;
        padding: 60px 0;
        gap: 20px;
    }
}