.subscribe__desc {
  margin: 0 auto;
  width: 462px;
  font-family: "Source Sans Pro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 176%;
  text-align: center;
  color: #1d263a;
  opacity: 0.7;
}

@media (max-width:768px) {
  .subscribe__desc {
    margin: 0 47px 50px;
    width: auto;
    text-align: center;
  }
}