.header {
  display: flex;
  flex-direction: column;
  margin: 20px 67px 0;
}

@media (max-width:1024px) {
    .header {
        margin: 0 56px 0;
    }
}
@media (max-width:768px) {
    .header {
        margin: 0 21px 0;
    }
}