.footer__copyright-outer {
  margin: 30px 0 50px;
  font-family: "Source Sans Pro", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 187%;
  color: #1d263a;
  opacity: 0.7;
  text-align: center;
  display: none;
}
@media (max-width: 768px) {
  .footer__copyright-outer {
    display: block;
  }
}
