.showcase__img {
  width: 380px;
  height: 605px;
  border-radius: 15px;
  object-fit: none;
  padding-right: 10px;
  padding-left: 10px;
}
.showcase__img-fake {
  width: 380px;
  height: 605px;
  border-radius: 15px;
  object-fit: none;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 1024px) {
  .showcase__img {
  }
}

@media (max-width: 768px) {
  .showcase__img {
  }
}

@media (max-width: 440px) {
  .showcase__img {
    width: 340px;
  }
  .showcase__img-fake {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .showcase__img {
    width: 300px;
  }
  .showcase__img-fake {
    width: 300px;
  }
}
@media (max-width: 380px) {
  .showcase__img {
    width: 280px;
  }
  .showcase__img-fake {
    width: 280px;
  }
}
@media (max-width: 360px) {
  .showcase__img {
    width: 280px;
  }
  .showcase__img-fake {
    width: 280px;
  }
}
@media (max-width: 340px) {
  .showcase__img {
    width: 260px;
  }
  .showcase__img-fake {
    width: 260px;
  }
}
@media (max-width: 320px) {
  .showcase__img {
    width: 260px;
  }
  .showcase__img-fake {
    width: 260px;
  }
}
@media (max-width: 300px) {
  .showcase__img {
    width: 220px;
  }
  .showcase__img-fake {
    width: 220px;
  }
}
