.nav__menu {
   margin: 0; 
   border: none;
   background-color: transparent;
   display: none;
   cursor: pointer;
}

@media (max-width: 768px) {
    .nav__menu {
        display: flex;
    }
}

.nav__menu--deactive {
    display: none;
}