.icons-container {
  display: flex;
  margin: 90px 0 0;
  gap: 60px;
}

@media (max-width:1024px) {
    .icons-container {
        margin: 47px 80px 52px;
    }
}

@media (max-width:768px) {
    .icons-container {
        margin: 92px 61px 66px;
        flex-direction: column;
    }
}