.showcase-img-container {
    display: flex;
    gap: 22px;
    grid-area: images;
    justify-content: center;
}

@media (max-width:1024px) {
    .showcase-img-container{
        flex-wrap: wrap;   
    }
}

@media (max-width:768px) {
    .showcase-img-container {
        
    }
}