.subscribe__btn {
  margin: 16px 0 0;
  padding: 12px 0;
  width: 100%;
  font-family: "Source Sans Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 143%;
  text-align: center;
  color: #eb5296;
  background-color: transparent;
  border: 2px solid #eb5296;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe__btn:hover {
  background-color: #eb529610;
}